* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

:root {
  --navbar-height: 6rem;
  --max-content-width: 75rem;
  --content-side-padding: 5rem;

  --color-background: #212121;
  --color-container: #2f2f2f;
  --color-container-border: #e3e3e3;
  --color-text: #ececec;
  --color-text-secondary: #b4b4b4;
  --color-button: #676767;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-background);
}

.navbar {
  width: 100%;
  background-color: var(--color-background);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  display: block;
  padding: 1rem var(--content-side-padding);
}

.prompt {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-items: center;
  padding: 0.5rem var(--content-side-padding) 3rem var(--content-side-padding);
  background-color: var(--color-background);

  &__wrapper {
    width: 100%;
    max-width: var(--max-content-width);
  }

  &__disclaimer {
    display: block;
    text-align: center;
    padding-top: 1rem;
    color: var(--color-text-secondary);
    font-size: 1.2rem;
  }
}

.prompt_input {
  padding: 0 0.5rem 0 3rem;
  border-radius: 3rem;
  background-color: var(--color-container);

  &__textarea_wrapper {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 4rem;
    gap: 1rem;
    align-items: center;
  }

  textarea {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    resize: none;
    padding: 1rem 0;
    line-height: 25px;
    display: block;
    color: var(--color-text);

    &::placeholder {
      color: var(--color-text-secondary);
    }
  }

  &__send_button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-button);
    color: var(--color-container);
    display: grid;
    justify-items: center;
    padding-top: 0.9rem;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
  }
}

.chat {
  width: 100%;
  margin-top: var(--navbar-height);
  padding: 2rem var(--content-side-padding);
  display: grid;
  justify-items: center;
  gap: 2rem;
}

.chat_message {
  width: 100%;
  max-width: var(--max-content-width);
  display: grid;

  p {
    line-height: 1.5rem;
    color: var(--color-text);
  }

  &__bubble {
    padding: 1.5rem 2rem;
    max-width: 70%;
    justify-self: end;
    border-radius: 2.5rem;
    background-color: var(--color-container);
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--color-container);
    padding: 0.5rem;

    & > div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      //background-color: var(--color-container-border);
    }
  }
}

.chat_message--machine {
  grid-template-columns: 3.5rem 1fr;
  gap: 2rem;

  & > p {
    padding-top: 1rem;
  }
}

.dropdown {
  background-color: red;
  width: 100px;
  height: 100%;
}
